body {
    scrollbar-width: none;
  }
  
@font-face {
    font-family: 'Nunito';
    src: url(/other/nunito.woff);
}

*{
    color: rgb(239 223 226);
    background-color: rgb(25 17 20);
    font-family: 'Nunito';
    margin: 0;
    padding: 0;
}