::-webkit-scrollbar {
    width: 0;
}
  
::-webkit-scrollbar-thumb {
    width: 0;
}
  
::-webkit-scrollbar-track {
    width: 0;
}

body {
    scrollbar-width: none;
  }
  
@font-face {
    font-family: 'Nunito';
    src: url(/other/nunito.woff);
}

*{
    background-color: #201a1a;
    color: #ebe0e0;
    font-family: 'Nunito';
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
}

nav {
    flex: 1;
    text-align: center;
    padding: 1%;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 20px;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
}

.col-1 {
    flex-basis: 40%;
    position: relative;
    margin: 50px;
}

.col-1 h2 {
    font-size: 40px;
    margin-bottom: 2%;
}

.col-1 p {
    font-size: 18px;
}

.col-1 a button {
    margin-top: 2%;
    margin-left: 40%;
    width: 140px;
    padding: 12px 10px;
    border-radius: 50px;
    border-style: none;
    background-color: #5e4040;
    font-size: 16px;
}

.col-1 a button:hover {
    cursor: pointer;
    transition: all 0.5s ease-out;
    background-color: #ebe0e0;
    color: #5e4040;
    .fa-brands {
        color: #5e4040
    }
}

.col-2 {
    position: relative;
    flex-basis: 60%;
    display: flex;
    align-items: center;
}




.fa-brands {
    background-color: transparent;
}

@media only screen and (max-width:700px) {

    nav {
        flex: 1;
        text-align: center;
        padding: 3%;
    }

    .row {
        flex-direction: column-reverse;
    }

    .col-1 h2 {
        text-align: center;
    }

    .col-1 a button {
        position: relative;
        right: 12%;
    }

    .col-2 {
        justify-content: center;
    }

    .col-2 .pfp {
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
