::-webkit-scrollbar, ::-webkit-scrollbar-track, ::-webkit-scrollbar-thumb {
    width: 0;
}

body {
    scrollbar-width: none;
  }
  
@font-face {
    font-family: 'Nunito';
    src: url(/other/nunito.woff);
}

*{
    background-color: #201a1a;
    color: #ebe0e0;
    font-family: 'Nunito';
    margin: 0;
    padding: 0;
}


.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
}

.col-1 {
    flex-basis: 40%;
    position: relative;
    margin: 50px;
}

.col-1 h2 {
    font-size: 40px;
    margin-bottom: 2%;
}

.col-1 p {
    font-size: 18px;
}

.col-1 a button {
    margin-top: 2%;
    margin-left: 40%;
    width: 140px;
    padding: 12px 10px;
    border-radius: 50px;
    border-style: none;
    background-color: #5e4040;
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.col-1 a button:hover {
    cursor: pointer;
    transition: all 0.5s ease-out;
    background-color: #ebe0e0;
    color: #5e4040;
    .github-icon {
        filter: invert(0%)
    }
}

.col-2 {
    position: relative;
    flex-basis: 60%;
    display: flex;
    align-items: center;
}


.github-icon {
    width: 20%;
    background: transparent;
    filter: invert(90%) sepia(10%) saturate(70%) hue-rotate(350deg) brightness(100%) contrast(100%);

}


.socials-link img {
    height: 30px;
    margin: 20px;
    cursor: pointer;
    filter: invert(90%) sepia(10%) saturate(70%) hue-rotate(350deg) brightness(100%) contrast(100%);
    background: none;
}

.socials-link {
    text-align: center;
    background: none;
}

@media only screen and (max-width:700px) {

    .row {
        flex-direction: column-reverse;
    }

    .col-1 h2 {
        text-align: center;
    }

    .col-1 a button {
        position: relative;
        right: 12%;
    }

    .col-2 {
        justify-content: center;
    }

    .col-2 .pfp {
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .socials-link {
        position:absolute;
        left: 23%;
        bottom: 1%;
    }
}
