::-webkit-scrollbar {
    width: 0;
}
  
::-webkit-scrollbar-thumb {
    width: 0;
}
  
::-webkit-scrollbar-track {
    width: 0;
}

body {
    scrollbar-width: none;
  }
  
@font-face {
    font-family: 'Rocko';
    src: url(/other/RockoFLF.ttf);
}

*{
    background-color: #201a1a;
    color: #ebe0e0;
    font-family: 'Rocko';
}

h1 {
    text-align: center;
    margin-top: 7%;
}

nav {
    position: fixed; /* Make the navbar sticky */
    top: 0; /* Stick to the top of the viewport */
    width: 100%; /* Occupy the full width of the viewport */
    color: #fff;
    text-align: center;
    z-index: 999;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

#moon {
    float: left;
    transition: all 0.3s ease;
}
#sun {
    float: left;
    transition: all 0.3s ease;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

#emoji_down {
    background: transparent;
}
#emoji_container {

    margin-left: 48%;
    margin-top: 2%;
    padding-bottom: 5%;
    position: absolute;
    animation: Mybounce;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    background: none;
    font-size: 250%;
}


@keyframes Mybounce {
    0%,to {
        transform: translateY(-5%);
        -webkit-animation-timing-function: cubic-bezier(.8,0,1,1);
        animation-timing-function: cubic-bezier(.8,0,1,1)
    }

    50% {
        transform: none;
        -webkit-animation-timing-function: cubic-bezier(0,0,.2,1);
        animation-timing-function: cubic-bezier(0,0,.2,1)
    }
}