::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
::-webkit-scrollbar-thumb {
    background: rgba(90, 90, 90);
    border-radius: 50px !important;
  }
  
::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2);
  }

@font-face {
    font-family: 'Rocko';
    src: url(./RockoFLF.ttf);
}

*{
    background-color: #181818;
    color: white;
    font-family: 'Rocko';
}


h1 {
    text-align: center;
    margin-top: 30%;
}

.sosauce_text:hover{
    color: transparent;

}

#emoji_container {
    margin-left: 49%;
    padding-bottom: 10%;
    position: absolute;
    animation: Mybounce;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    background: none;
    font-size: 250%;
}

#emoji_down:hover{
    cursor: pointer;
}
#emoji_down2:hover{
    cursor: pointer;
}

@keyframes Mybounce {
    0%,to {
        transform: translateY(-5%);
        -webkit-animation-timing-function: cubic-bezier(.8,0,1,1);
        animation-timing-function: cubic-bezier(.8,0,1,1)
    }

    50% {
        transform: none;
        -webkit-animation-timing-function: cubic-bezier(0,0,.2,1);
        animation-timing-function: cubic-bezier(0,0,.2,1)
    }
}

#text2_div{
    margin-bottom: 30%;
}

#text2:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 1%;
    position: relative;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  
#text2:hover:after { 
    width: 100%; 
    left: 0; 
  }

button{
    margin-left: 48%;
    background-color: #fff;
    border-radius: 50px;
    border: none;
    color: #2a2a2a;
    scale: 1.5;
}

button:hover{
    transition: 0.2s ease-in;
    cursor: pointer;
    background-color: #2a2a2a;
    color: #fff;
}

